.calculator input {
    width: 288px;
    height: 60px;
    font-size: 40px;
    padding: 3px;
    margin-left: 3px;
    text-align: right;
    cursor: default;
    color: #545454;
}
.calculator table {
    border-spacing: 0;
}
.calculator table tr td {
    width: 70px;
    height: 70px;
    padding: 3px;
}
.calculator table tr td button {
    width: 100%;
    height: 100%;
    color: white;
    box-shadow: none;
    border: none;
    background-color: #4f2894;
}